@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The aim for this site is to create a clan management site for Destiny 2. 
    No information is stored longer than it needs to. OAuth is used and stored within a 'session variable'
    that gets cleared the moment you stop using the site for more than a couple minutes. This is cookie driven, so please keep that in mind.</p>


<p>Any issues can be reported via email to <a href="mailto://webmaster@demortes.com">webmaster@demortes.com</a>.</p>