@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Destiny Clan Manager</h1>
    <p class="lead">Destiny Clan Manager is a simple web application to allow you to find your inactive players within the clan and manage them</p>
</div>

<div>
    <h2>Getting started</h2>
    <p>
        Click the "Login" button to be taken to Bungie's website to authorize the application to use your information. This information is purged once you stop using the web site for a while.
    </p>
    <p>Please note: Cookies are needed to manage your clan, only to track your session data. No other information is tracked.</p>
</div>